@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 400 1.1em "Montserrat", sans-serif;
    background-color: #FEFBE7;
    background-image: url("../image/background.png");
}

::-webkit-scrollbar {
    width: 7px;
}

a {
    text-decoration: none;
    color: #111111;
}

input {
    margin: 1px;
}

/* Navbar */

nav {
    height: 60px;
    background-color: #b1b1b1;
    display: flex;
}

.menu {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 150px;
}

i {
    margin-right: 5px;
}

.view {
    padding: 0 20px;
}

.theme-button {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.theme-button img {
    height: 30px;
    width: 30px;
    padding: 10px;
}

/* Navbar end*/

.wrapper {
    height: 85%;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.block {
    width: 360px;
}

#form {
    box-shadow: 5px 5px 5px #94a5c0;
    border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
    overflow: auto;
}

#form input, #submit {
    border-radius: 3px;
    border: none;
    padding: 8px;
    font: 1em "Montserrat", sans-serif;
}

#rclsrv, #home{
    width: 132px;
}

.overtime, .calculate, .full{
    background-color: #b1b1b1;
}

.submit {
    margin-top: 10px;
    font: 1em "Montserrat", sans-serif;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
/* View page */
.table, th, td {
    border: 1px solid;
    padding: 10px;
}

.table {
    border-collapse: collapse;
}

.container {
    background-color: #b1b1b1;
    box-shadow: 5px 5px 5px #94a5c0;
    border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
    overflow: auto;
}

.btn {
    background-color: silver;
    padding: 8px;
    border-radius: 5px;
}

.edit {
    background-color: #479f76;
}

.delete {
    background-color: #dc3545;
}

.page {
    width: 30px;
    height: 25px;
    padding: 5px 3px;
    background-color: #94a5c0;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 10px 5px 10px 0;
}